/* MainPage.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; /* 전체 뷰포트 높이 */
}

header {
    margin-bottom: 20px;
}

nav {
    display: flex; /* Flexbox를 사용하여 버튼들을 정렬 */
    justify-content: space-around; /* 버튼들이 공간을 균등하게 나누어 사용하도록 설정 */
    align-items: center;
    background-color: #007bff; /* 파랑 계열 배경색 */
    padding: 10px;
    border-radius: 10px; /* 모서리를 둥글게 */
    width: 400px; /* 너비 설정 */
    margin-bottom: 20px;
}

button {
    color: white; /* 버튼 텍스트 색상 */
    background-color: #0056b3; /* 버튼 배경색 */
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    transition: background-color 0.3s; /* 배경색 변경시 트랜지션 효과 */
}

button:hover {
    background-color: #003580; /* 마우스 오버 시 버튼 배경색 변경 */
}

main {
    /* 메인 콘텐츠 영역 스타일링 */
}
